:root {
    --clr-neon: #FFD046;
    --clr-bg: #002642;
  }
  
  @font-face {
    font-family:"coolvetica";
    src:url("https://use.typekit.net/af/e17c35/000000000000000077359672/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/e17c35/000000000000000077359672/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/e17c35/000000000000000077359672/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:500;
    }
    

  body {
    min-height: 100vh;  
    display: grid;
    place-items: center;
    background: var(--clr-bg);
    font-family: "coolvetica", sans-serif;
    color: var(--clr-neon);
  }

  .color-flip {
    font-size: 10rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    position: relative;
  }
  
  .color-flip::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 100em 100em var(--clr-neon);
    filter: blur(10em);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 1ms linear;
  }
  
  .color-flip:hover,
  .color-flip:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .color-flip:hover::before,
  .color-flip:focus::before {
    opacity: 1;
  }
  .color-flip:hover::after,
  .color-flip:focus::after {
    opacity: 1;
  }
  
  .flashlight {
    font-size: 10rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    position: relative;
  }
  
  .flashlight::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 1000em, 1000em, 1000em, 100em, 100em, var(--clr-neon);
    filter: blur(100em);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -2;
    transition: opacity 1s linear;
  }
  
  .flashlight:hover,
  .flashlight:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .flashlight:hover::before,
  .flashlight:focus::before {
    opacity: 1;
  }
  .flashlight:hover::after,
  .flashlight:focus::after {
    opacity: 1;
  }